.box {
  background-image: linear-gradient(to top, #90b7f0, #80cae8, #97d7d6, #bedfcd, #dfe5d3);
  margin-top: 25px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0%;
  padding: 10px;
  height: 700px;
  border: black solid;
  border-radius: 5%;
}
input {
  text-align: center;
  width: 50%;
  font-size: 20pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid inherit;
  padding-left: 5px;
  margin-right: 50px;
  outline: none;
  color: rgb(0, 0, 0);
  height: 33px;
}
input:focus {
  border-bottom: 5px solid #000000;
}
button{
  margin-left: 35px;
}
.btn-circle.btn-sm {
  width: 30px;
  height: 35px;
  padding: 5px 1px;
  border-radius: 12px;
  border:solid;
  font-size: 15px;
  text-align: center;
}
.todo{
  margin: 0 15px 0 15px;
  display: flex; 
}
.todo>h2{
  font-size: 20px;
  margin-left: 25px;
}
.wrapper {
  	text-align: center;
    font-style: italic;
    font-weight: bold;
  	color: #fff;
		font-size: 30px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right,#0b0c0c 10%, #575353 50%, #ccccccc4 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
.text {
  margin-left: 0;
  vertical-align: middle;
  float: bottom ;
  margin-bottom: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
}
